@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/clash-display.woff2') format('woff2'),
       url('/fonts/clash-display.woff') format('woff');
  /* Add other font properties if needed */
}

@font-face {
  font-family: 'Clash Display Medium';
  font-weight: 500; /* Medium weight */
  src: url('/fonts/clash-display-medium.woff2') format('woff2'),
       url('/fonts/clash-display-medium.woff') format('woff');
  /* Add other font properties if needed */
}

.clashDisplayFont {
  font-family: 'Clash Display', sans-serif;
}

.clashDisplayMediumFont {
  font-family: 'Clash Display Medium', sans-serif;
}


/* #Herotitle {
  font-size: 96px;
  margin-top: 100px;
  padding: 0%;
  line-height: normal;
} */

/* #section2head {
  font-size: 64px;
  font-weight: bold;
  text-align: left;
} */

/* #section2p {
  font-size: 22px;
  text-align: left;
} */

#name {
  font-family: fraunces;
  font-style: italic;
}

p {
  font-family: archivo;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* overflow-x: hidden; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
