@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Clash Display';
  src: ('./fonts')
}

@font-face {
  font-family: 'Clash Display Medium';
  font-weight: 500; /* Medium weight */
  src: ('./fonts')
}

.clashDisplayFont {
  font-family: 'Clash Display', sans-serif;
}

.clashDisplayMediumFont {
  font-family: 'Clash Display Medium', sans-serif;
}

/* Set background to black and font color to white */
body {
  background-color: black;
  color: white;
}

/* Additional styles */
#name {
  font-family: fraunces, sans-serif;
  font-style: italic;
}

p {
  font-family: archivo, sans-serif;
}


:root {
  --foreground-rgb: 255, 255, 255; /* White */
  --background-start-rgb: 0, 0, 0; /* Black */
  --background-end-rgb: 0, 0, 0; /* Black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
