@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/bricolage-grotesque.woff2") format("woff2"),
    url("/fonts/bricolage-grotesque.woff") format("woff");
  /* Add other font properties if needed */
}

.clashDisplayFont {
  font-family: "Clash Display", sans-serif;
}

.clashDisplayMediumFont {
  font-family: "ClashDisplay-Medium", sans-serif;
}

/* Set background to black and font color to white */
body {
  background-color: black;
  color: white;
}

/* Additional styles */
/* #name {
  font-family: fraunces, sans-serif;
  font-style: italic;
} */

.italicText {
  font-style: italic;
}

.Fraunces {
  font-family: fraunces, sans-serif;
}

p {
  font-family: archivo, sans-serif;
}

/* #Herotitle {
  font-family: "ClashDisplay-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
} */

:root {
  --foreground-rgb: 255, 255, 255; /* White */
  --background-start-rgb: 0, 0, 0; /* Black */
  --background-end-rgb: 0, 0, 0; /* Black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* # Stage your changes
git add .

# Commit your changes with a descriptive message
git commit -m "Your commit message"

# Push your changes to GitHub
git push origin main */